/* 内嵌下拉列表的样式 */
/* li {float: left;} */
li a, .dropbtn {
    display: block;
}
/* li.dropdown {
    display: inline-block;
} */
.dropdown {
    border: none;
    cursor: pointer;
}
.dropdown:hover .dropbtn {color: #FFF;}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: auto;
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {display: block;}