@charset "utf-8";
/* CSS Document */
table {
	margin: 10% auto;
	background: #6af;
	padding: 1%;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	border-radius: 20px;
}
td {
	text-align: center;
	width: 40px;
}
td a {
	white-space: nowrap;
	transition: 0.2s;
	cursor: default;/*hand*/
	width: 100px;
}
td a:hover {
	color: red;
	font-weight: bold;
	transform: scale(1.2);
	text-shadow: 1px 1px 5px #666;
}
a {
	text-decoration:none;
	color: white;
	font: 16px/1.5 '幼圆','微软雅黑','Microsoft Yahei';
}
