@charset "utf-8";
/* CSS Document */
h1{
	color: #fff;
	font-family: Corbel, Calibri ,Candara;
	text-shadow: 1px 1px 10px #888;
	font-size: 100px;
	transition: 0.3s;
	position: absolute;
	left: 10%;
	top: 15%;
}
h1:hover{
	text-shadow: 2px 2px 20px #333;
}
body {
	background-color: #FFF;
}
/*IMAGES SET*/
.img{
	position: absolute;
	top: 30%;
	left: 40%;
	height: 25%;
	opacity: 0.2;
	transition: 0.3s;
	border-radius: 20px;
}
.img:hover{
	top: 30%;
	left: 40%;
	height: 50%;
	opacity: 0.75;
	box-shadow: 2px 2px 5px #333;
	border-radius: 5px;
}
/*IMAGES SET END*/
.red{
	height: 50%;
	width: 50%;
	position:absolute;
	left:0px;
	top:0px;
	background-color: #ff8484;
	transition: 0.5s;
}
.red:hover{
	background-color: #ff9191;
}
.yellow{
	height: 50%;
	width: 50%;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #fff884;
	transition: 0.5s;
}
.yellow:hover{
	background-color: #fff991;
}
.green{
	height: 50%;
	width: 50%;
	position: absolute;
	right: 0px;
	top: 50%;
	background-color: #84ff9b;
	transition: 0.5s;
}
.green:hover{
	background-color: #93ffa7;
}
.blue{
	height: 50%;
	width: 50%;
	position:absolute;
	left: 0px;
	top: 50%;
	background-color: #84caff;
	transition: 0.5s;
}
.blue:hover{
	background-color: #91d0ff;
}
.info{
	color: #fff;
	font-family: Consolas, Corbel, Calibri ,Candara;
	font-size: 30px;
	text-shadow: 2px 2px 5px #666;
	text-align: center;
	position: absolute;
	left: 41%;
	top: 45%;
}
@media screen and (max-width:1200px){
	.info{
		display: none;
	}
}
@media screen and (max-width:960px){
	.color h1{
		font-size: 60px;
	}
}
@media screen and (max-width:800px){
	.color h1{
		font-size: 50px;
	}
}
@media screen and (max-width:640px){
	.color h1{
		font-size: 40px;
	}
}